[package]
name = "pfas-selector"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
anyhow = { workspace = true }
ceim-kernel = { path = "../ceim-kernel" }
