name: morpheus-release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build release
        run: cargo build --workspace --release

      - name: Upload orchestrator binary
        uses: actions/upload-artifact@v4
        with:
          name: morpheus-orchestrator
          path: target/release/morpheus-orchestrator
